@import "_variables";

body {
  background: $bg;
  a {
    color: blue;
  }
}

.box {
  h1 {
    color: #000000;
    &:hover {
      color: blue;
    }
  }
}
h1 {
  color: #ffffff;
  font-size: $title;
}
